.container {
    height: 100vh;
    width: 100vw;
    background-color: var(--primary);
    display:flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    width:50%;
    height:50%;
    display: flex;
    flex-direction: row; 
    height: 45%;
    padding: 2rem;
    background-color: var(--background);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.loginForm_left {
    width:50%;
    padding-left: 2rem;
}

.loginForm_right {
    width: 50%;
    position: relative;
    justify-content: start;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-left: 5%;
}

.imgWrapper {
    position: absolute;
    padding-left: 5%;
    bottom: -2rem;
    right: -2rem;
}

.imgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.loginForm_right p {
    text-align: end;
    max-width: 80%;
}

.loginForm form {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.loginForm input {
    padding: 1.2rem;
    border: 1px solid var(--text);
    border-radius: 5px;
    background-color: var(--background);
    color: var(--text);
    font-size: 16px;
    width: 80%;
    height:2rem;
}

.loginForm_right h2 {
    font-size: 3rem;
    font-weight: 550;
}
.loginForm_right h2:hover {
    text-decoration: underline;
    text-decoration-color: var(--highlight);
}

.loginForm input::placeholder {
    color: var(--text);
}

.loginForm button {
    padding: 12px;
    background: var(--button-gradient);
    color: var(--background);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    width: 80%;
}

.loginForm button:hover {
    background: var(--secondary);
}

.googleLoginContainer {
    display: flex;
    justify-content: start;
}

.loginForm .error {
    color: #e74c3c;
    margin-bottom: 15px;
}

.divider {
    width:1.5px;
    height: 100%;
    background-color:var(--primary);
}

.logotitle {
    font-family: "Dancing Script", cursive;
}

.registerWrapper span {
    font-size: 1rem;
    font-weight: 550;
    padding-right: 0.2rem;
}

.registerWrapper span a {
    color: var(--text);
    font-size: 1rem;
}

.registerWrapper span a:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: var(--highlight);
}