.container{
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.profileContainer{
    width:50%;
    background-color: var(--background);
    padding: 5rem 1rem 2rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.seperator{
    display: flex;
    justify-content: space-between;
}

.userInfo{
    display: flex;
    margin-bottom: 5rem;
}

.userInfo img{
    border-radius: 50%;
    height: 4.5rem;
}

.userMeta{
    padding-left: 1rem;
}

.userMeta h1{
    font-weight: 600;
}

.seperator button{
    background-color: red;
    border:0;
    height: 2rem;
    margin-top: 1rem;
    color:white;
    font-weight: 600;
    border-radius: 5px;
    min-width: 150px;
    cursor: pointer;
}

.seperator button:hover{
    background-color: rgb(122, 18, 18);
    transition: 300ms ease;
}

.yourQuestions{
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1rem;
    border:0;
}
.dontHave {
    text-align: center;
}
.questionLines{
    border:1px var(--primary) solid;
    border-top: 0;
}

.border{
    
}

.redOnes{
    display: flex;
    flex-direction: column;
}

.redOnes button{
    width: 5rem;
}

@media(max-width:1200px){
    .seperator button{
        width:5rem;
    }
}

@media(max-width:800px){

    .profileContainer{
        width:70%;
    }
}

@media(max-width:550px){
    .profileContainer{
        width:90%;
    }
}

@media(max-width:350px){
    .profileContainer{
        width:100%;
    }
}

@media(max-width:350px){
    .userMeta h1{
        font-size: 1rem !important;
    }

    .userInfo img{
        height: 2.5rem;
    }
}



