.container{
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.questionForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    padding: 30px;
    border-radius: 8px;

    padding-top: 10rem;
}

.questionForm form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.questionForm input {
    padding: 1.25rem;
    border: 1px solid var(--text);
    border-radius: 5px;
    background-color: var(--background);
    color: var(--text);
    font-size: 16px;
    height:2rem;
}

.questionForm input::placeholder {
    color: #888;
}

.questionForm button {
    padding: 12px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.questionForm button:hover {
    background-color: var(--secondary);
}

.questionForm h1{
    display: flex;
    justify-content: start;
    margin-bottom: 3rem;
    color:var(--text);
    }

.tagForm {
    display: flex;
    gap: 20px;
}

.tagForm button {
    padding: 12px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tagForm button:hover {
    background-color: var(--secondary);
}

textarea{
    resize: none;
    height: 200px;
    padding:0.5rem;
    padding-left:1.25rem;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid var(--text);
}
