.container{
    height: 100vh;
    width: 100vw;
    background-color: var(--primary);

    display:flex;
    justify-content: center;
    align-items: center;
}

.registerForm {
    width:50%;
    height:50%;
    display: flex;
    flex-direction: row; 
    height: 60%;
    padding: 2rem;
    background-color: var(--background);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.registerForm_left{
    width:50%;
    padding-left: 2rem;
}

.registerForm form {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.registerForm input {
    padding: 1.25rem;
    border: 1px solid var(--text);
    border-radius: 5px;
    background-color: var(--background);
    color: var(--text);
    font-size: 16px;
    width: 80%;
    height:2rem;
}
.registerForm input::placeholder {
    color: var(--text);
}
.registerForm button {
    padding: 12px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width:80%;
    margin-top: 4rem;
}
.registerForm button:hover {
    background-color: var(--secondary);
}
.GoogleLoginCont{
    display: flex;
    justify-content: center;
    align-items: center;
    width:70%;
}
.registerForm .error {
    color: #e74c3c;
    margin-bottom: 15px;
}

.loginForm_right{
    width:50%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: end;
}

.divider{
    width:1.5px;
    height: 100%;
    background-color:var(--primary);
}