.pageLayout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
    padding: 70px 20px 20px 20px;
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
@media (max-width: 768px) {
    main {
        padding: 15px;
    }
}