.infoSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--button-gradient);
    padding: 7rem 4rem 5rem 10rem;
}
.leftSide {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.leftSide h1 {
    font-size: 4rem;
    max-width: 600;
    color: var(--background);
}
.leftSide p {
    font-size: 1.2rem;
    max-width: 80%;
    color: var(--background);
    margin: 1rem 0 3rem 0;
}
.imageWrapper {
    position: relative;
    flex: 1;
    height: 100%;
    width: 50%;
}
.imageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 1270px) {
    .leftSide h1 {
        font-size: 2rem;
    }
    .leftSide p {
        font-size: 1rem;
        margin: 1rem 0 3rem 0;
    }
    .infoSection {
        padding: 4rem;
    }
}
@media (max-width: 860px) {
    .leftSide p {
        font-size: 0.8rem;
        margin: 1rem 0;
    }
}
@media (max-width: 760px) {
  .infoSection {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .leftSide {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 480px) {
    .infoSection {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .leftSide h1 {
        font-size: 1.5rem;
    }
}