.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 30px;
    background: var(--primary);
    z-index: 10;
}
.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar li {
    margin: 0 20px;
    position: relative;
}
.navbar a {
    color: var(--background);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
}
.navbar a.active {
    color: var(--background);
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: var(--background);
    text-decoration-thickness: 3px;
}
.navbar .left h1 {
    font-family: "Dancing Script", cursive;
    color: var(--background);
    font-size: 2rem;
}
.CTA {
    background-color: transparent;
}
.profile_picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--background);
}
.addPost{
    font-weight: 400 !important;
    font-size: 3rem !important; 
}
.rightNav{
    display: flex;
    justify-content: center;
    align-items: center;
}