.numsSection {
    width: 100%;
    padding: 5rem 2rem 8rem 2rem;
    background-color: white;
}
.numsSection h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 4rem;
}
.numsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.numItem {
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}
.numItem .num {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.numItem.visible .num {
    opacity: 1;
    transform: translateY(0);
}
.numItem span {
    font-size: 5rem;
    font-weight: 700;
}
.numItem p {
    font-size: 1rem;
    color: #555;
}
.numItem .divider {
    width: 100%;
    height: 5px;
    background-color: var(--highlight);
    margin: 5px 0;
}
@media (max-width: 991px) {
    .numsContainer {
        gap: .5rem;
    }
    .numsSection h1 {
        font-size: 3rem;
    }
    .numItem span {
        font-size: 3rem;
    }
    .numItem p {
        font-size: .8rem;
    }
    .numItem .divider {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .numsContainer {
        flex-direction: column;
        gap: 3rem;
    }
    .numItem span {
        font-size: 3rem;
    }
    .numItem p {
        font-size: 1rem;
    }
}
@media (max-width: 480px) {
    .numsContainer {
        flex-direction: column;
        gap: 1.5rem;
    }
    .numsSection h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .numsSection {
        padding: 2.5rem 1rem;
    }
}