.tag {
    display: flex;
    align-items: center;
    background-color: var(--primary);
    border-radius: 10px;
    padding-right: 0.5rem;
}
.tag p {
    color: var(--background);
    padding: 0.2rem 0.75rem 0.2rem 0.75rem;
}
.tag button {
    color:white;
    background-color: var(--primary);
    border: 0;
    cursor: pointer;
}